body {

    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: blueviolet;
}

.fortnite {
    width: 460px;
    height: 215px;
}

.minecraft {
    width: 460px;
    height: 215px;
}

.subway {
    width: 460px;
    height: 215px;
}

.clash {
    width: 460px;
    height: 215px;
}

.ff {
    width: 460px;
    height: 215px;
}





